<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<h3>Edit blog</h3>

<div>
    <a th:href="@{/WEB-INF/views/blog}">Back to list blog</a>
</div>

<form method="post" th:action="@{/blog/edit}" th:object="${blog}">

    <input type="hidden" th:field="*{id}">

    <div>
        <label>Title: </label><br>
        <input type="text" th:field="*{title}">
    </div>
    <div>
        <label>Article: </label><br>
        <textarea rows="20" cols="100" th:field="*{article}"></textarea>
    </div>

    <div>
        <select th:field="*{category}">
            <option th:each="row : ${categories}" th:value="${row.getId()}" th:text="${row.getName()}"></option>
        </select>
    </div>
    <input type="submit" value="Save">
</form>
</body>
</html>